body{
    margin: 0;
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
}
.content-container{
    width: 100%;
    height: 100%;
    background-color: coral;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
}
.title{
    text-align: center;
    background-color: aqua;
}
.card-list-container{
    background-color: green;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
}
.card-1 , .card-2, .card-3 , .card-4 ,.card-5{
    width: 320px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    transition: 0.2s;
    position: relative;
    border: 2px solid black;
    margin: 15px 0px 0px 0px;
}
.card-number{
    position: absolute;
    font-weight: 800px;
    font-size: 60px;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}
.card-1:hover, .card-2:hover, .card-3:hover, .card-4:hover, .card-5:hover{
    filter: drop-shadow(3px 7px 10px rgb(29, 29, 29));
}
.card-suit-top, .card-suit-bottom{
    font-size: 60px;
    position: absolute;

}
.card-suit-bottom{
    right: 0;
    bottom: 0;
}
.bet-section{
    text-align: center;
    margin: 10px 0px 15px 0px;
    color:gold;
}
.bet-section input{
    
    width: 100%; 
    height: 50px;
    font-size: 60px;
}
.draw-button{
    border: 2px solid black;
    width: 100%; 
    height: 200px;
    font-size: 60px;
}
